<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.artcom.y60.vncserver"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="MainApplication">
        <service android:name=".VncService">
            <intent-filter><action android:name="y60.intent.SERVICE_VNC_SERVER"/></intent-filter> 
        </service>
        
        <receiver android:name="VncBroadcastReceiver">
            <intent-filter>
                <action android:name="y60.intent.KILL_VNC_SERVER">
                </action>
            </intent-filter>
        </receiver>
        
    </application>


</manifest> 