<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.artcom.y60.trackpad"
      android:versionCode="1"
      android:versionName="1.0.0">
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <uses-library android:name="android.test.runner" />
       
        <activity android:name="TrackPad"
                  android:label="@string/app_name">
        </activity>
       
        <activity android:name="TiltController"
                  android:label="Tilt Controller">
        </activity>
       
        <activity android:name=".TrackPadLauncher"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
    
    <instrumentation android:name="android.test.InstrumentationTestRunner" 
      android:targetPackage="com.artcom.y60.trackpad" 
      android:label="TrackPad">
    </instrumentation>
    
<uses-sdk android:targetSdkVersion="4" android:minSdkVersion="4"></uses-sdk>
</manifest> 