<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artcom.y60.dc">
    <application android:label="@string/manage_jetty" android:icon="@drawable/smooth">
    
    <uses-library android:name="android.test.runner" />
    
        <activity android:name=".DeviceControllerActivity"
                  android:label="@string/manage_jetty"
                  android:icon="@drawable/smooth"
                  android:multiprocess="false"
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="y60.intent.CONFIGURE_DEVICE_CONTROLLER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".DeviceControllerService" android:process=":remote">
        	<intent-filter>
        	    <action android:name="y60.intent.SERVICE_DEVICE_CONTROLLER" />
                <category android:name="android.intent.category.DEFAULT" />	
        	</intent-filter>
        </service>

        <service android:name=".StatusWatcher" android:process=":remote">
            <intent-filter>
                <action android:name="y60.intent.SERVICE_STATUS_WATCHER" />
                <category android:name="android.intent.category.DEFAULT" /> 
            </intent-filter>
        </service>

        <receiver android:enabled="true"
          android:exported="true"
          android:name="StatusCollector">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" /> 
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" /> 
            </intent-filter>
        </receiver>

    </application>
    
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    
    <instrumentation android:name="android.test.InstrumentationTestRunner" 
      android:targetPackage="com.artcom.y60.dc" 
      android:label="DeviceController">
    </instrumentation>
</manifest> 
