<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.artcom.y60.infrastructure"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Infrastructure"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<uses-library android:name="android.test.runner" />  
		<uses-library android:name="com.artcom.y60.infrastructure.tests" />
	</application>

	<uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />

	<instrumentation android:name="android.test.TestRunner" 
      android:targetPackage="com.artcom.y60.infrastructure.tests" 
      android:label="Infrastructure">
   	</instrumentation> 
</manifest> 