<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.artcom.y60"
      android:versionCode="1"
      android:versionName="1.0.0">
    
    <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />   
     
    <uses-library android:name="android.test.runner" />
    <application  android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ErrorPresentationActivity"  android:exported="true">
            <intent-filter>
                <action android:name="y60.intent.ERROR_PRESENTATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Y60" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="y60.intent.SHOW_Y60" />
                <category android:name="android.intent.category.DEFAULT" />
			</intent-filter>			
		</activity>
        
        <activity android:name="DnDTestActivity"  android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
        
        <uses-library android:name="android.test.runner" />
        
	</application>
	
    <instrumentation android:name="android.test.InstrumentationTestRunner" 
      android:targetPackage="com.artcom.y60" 
      android:label="Y60 Infrastructure Tests">
    </instrumentation>
</manifest> 

